  <!-- Navbar + Header -->
    <div class="container">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">

          <!-- logo -->
          <a class="navbar-brand" href="/">
            <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1706098486/logo_noir_sur_transparent_guxb9u.png" alt="Logo" class="d-inline-block align-text-top"></a>
          <!-- fin logo -->

          <!-- menu -->
          <div class="collapse navbar-collapse bg-body-tertiary" >
            <button id="lang-toggle" data-locale="<%= new_locale %>">
              <%= link_to 'Français/English', switch_language_path %>
            </button>
            <ul class="nav nav-pills navbar-nav me-4 mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/#IkiQuoi"><%= t('my_iki_quoi') %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#Expertise"><%= t('expertise_html') %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#WhoAmI"><%= t('who_am_i_html') %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#IknowThings"><%= t('what_i_ve_done_html') %></a>
              </li>
            </ul>
                <a class="button" href="/#Contact"><%= t('contact') %>!</a>
          <!-- fin bouton et menu responsive -->
          </div>
        </div>
      </nav>
      <!-- fin Navbar -->

      <!-- Header -->
      <header class="banner">
        <div class="container">
          <h1>My Ikigaï</h1><p>Le studio web créatif et perché</p>
        </div>
        <%= render "shared/flashes" %>
      </header>
      <!-- fin Header -->
    </div>
    <!-- fin Navbar + Header -->
