<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span><%= t('liens') %> !</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/profile.php?id=61556209736452 " target="_blank" class="me-4 text-reset">
        <i class="fa-brands fa-facebook" style="color: #3424a9;"></i>
      </a>
      <a href="https://www.instagram.com/myikigai_ws" target="_blank" class="me-4 text-reset">
        <i class="fa-brands fa-square-instagram" style="color: #3424a9;"></i>
      </a>
      <a href="https://github.com/LeslieRds" target="_blank" class="me-4 text-reset">
        <i class="fa-brands fa-square-github" style="color: #3424a9;"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa-solid fa-dragon"></i>
            My Ikigaï Studio
          </h6>
          <p>
            <%= t('small_description_html') %>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4"><i class="fa-regular fa-compass"></i>
            Navigation
          </h6>
          <p>
            <a href="/#IkiQuoi" class="nav-link"><%= t('my_iki_quoi') %></a>
          </p>
          <p>
            <a href="/#Expertise" class="nav-link"><%= t('expertise') %></a>
          </p>
          <p>
            <a href="/#WhoAmI" class="nav-link"><%= t('who_am_i') %></a>
          </p>
          <p>
            <a href="/#IknowThings" class="nav-link"><%= t('what_i_ve_done_html') %></a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4"><i class="fa-solid fa-umbrella"></i>
            <%= t('legaux') %>
          </h6>
          <p>
            <a href="/static_pages/legal.html" class="nav-link"><%= t('mentions') %></a>
          </p>
          <p>
            <a href="/static_pages/terms_of_service.html" class="nav-link"><%= t('cgs') %></a>
          </p>
          <p>
            <a href="/static_pages/privacy.html" class="nav-link"><%= t('privacy') %></a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4"><i class="fa-solid fa-champagne-glasses"></i>
          Contact</h6>
          <p><i class="fa-solid fa-mountain-city"></i>
          Tarentaise, Savoie, France</p>
          <p>
            <i class="fa-regular fa-paper-plane"></i>
            hello@myikigai.fr
          </p>
          <p><i class="fa-solid fa-mobile-screen"></i>
            +33 (0) 6 48 20 23 96
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold">Made with <i class="fa-solid fa-heart fa-beat" style="color: #3424a9;"></i> by My Ikigaï Web Studio</a>
  </div>
  <!-- Copyright -->
</footer>
