<!-- Main -->
<main>
  <div class="container">
  <div data-bs-spy="scroll" data-bs-target="#navbarId" data-bs-offset="0"  class="scrollspy rounded-2" tabindex="0">

<!-- section - My Iki-quoi? -->
  <section id="IkiQuoi">
      <div class="section1 text">
        <!-- boutons de navigation -->
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="Ikiwhat-tab" data-bs-toggle="tab" data-bs-target="#Ikiwhat" type="button" role="tab" aria-controls="Ikiwhat" aria-selected="true"><%= t('my_iki_quoi') %></button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="why-tab" data-bs-toggle="tab" data-bs-target="#why" type="button" role="tab" aria-controls="why" aria-selected="false"><%= t('why_name') %></button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="creative-tab" data-bs-toggle="tab" data-bs-target="#creative" type="button" role="tab" aria-controls="creative" aria-selected="false">"<%= t('creative_high') %>"?</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="RoR-tab" data-bs-toggle="tab" data-bs-target="#RoR" type="button" role="tab" aria-controls="RoR" aria-selected="false">Ruby on Rails</button>
          </li>
        </ul>
        <!-- fin boutons de navigation -->
        <!-- zone de texte -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="Ikiwhat" role="tabpanel" aria-labelledby="Ikiwhat-tab"><p><%= t('welcome_message_html') %></div>
          <div class="tab-pane fade" id="why" role="tabpanel" aria-labelledby="why-tab"><p><%= t('ikigai_meaning_html') %></p></div>
          <div class="tab-pane fade" id="creative" role="tabpanel" aria-labelledby="creative-tab"><ul>
            <%= t('creative_tab_html') %>
          </ul></div>
          <div class="tab-pane fade" id="RoR" role="tabpanel" aria-labelledby="RoR-tab"><h3><%= t('ror') %></h3>
            <%= t('ror_text_html') %></div>
        </div>
        <!-- fin zone de texte -->
      </div>
  </section>
<!-- fin section - My Iki-quoi? -->

<!-- section - Expertise -->
      <section id="Expertise">
        <!-- intro de la section -->
        <div class="section1">
            <%= t('expertise_html') %>
          <div class="content">

        <!-- fin intro de la section -->

      <!-- cartes de mes services -->
          <div class="container">
        <!-- Carte Mon engagement -->
            <div class="card">
              <div class="img-box">
                <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707488901/lee-campbell-DtDlVpy-vvQ-unsplash_mjqobl.jpg" alt="L'image représente un bureau avec des écrans d'ordinateur, comme si quelqu'un travaillait dessus">
              </div>
              <div class="text-content"><%= t('commitment_html') %>
              </div>
            </div>
        <!-- fin carte Mon engagement -->

        <!-- carte accessibilité -->
            <div class="card">
              <div class="img-box">
                <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707491634/kenny-eliason-LUgHXvLe_kM-unsplash_ovls5e.jpg"  alt="=La photo représente une main tenant un smartphone, pour symboliser le fait que je sais développer des sites adaptés aux petits écrans">
              </div>
              <div class="text-content"><%= t('accessible_html') %>
              </div>
            </div>
        <!-- fin carte accessibilité -->

        <!-- carte relation client -->
            <div class="card">
              <div class="img-box">
                <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707489100/john-schnobrich-2FPjlAyMQTA-unsplash_otijag.jpg"  alt="La photo est une vue prise du dessus. On voit un ordinateur portable sur une table basse, vers lequel trois personnes pointent le doigt comme si elles travaillaient ensemble.">
              </div>
              <div class="text-content"><%= t('experience_client_html') %>
              </div>
            </div>
        <!-- fin carte relation client -->

        <!-- carte esthétisme -->
            <div class="card">
              <div class="img-box">
                <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707489100/ian-schneider-TamMbr4okv4-unsplash_ielgdd.jpg"  alt="La photo est une vue du dessus, nous y voyons le sol où est écrit 'Passion led us here' avec les pieds de deux personnes.">
              </div>
              <div class="text-content"><%= t('esthetic_html') %>
              </div>
            </div>
        <!-- fin carte esthétisme -->
          </div>
      <!-- fin cartes de mes services -->
          </div>
        </div>
      </section>
<!-- fin de la section mes services -->

<!-- section - Mes langages / outils -->
  <section id="tools">
    <div class="slider">
      <div class="slider-track">
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578258/logo-2582748_640_g1aizd.png"  alt="logo HTML5"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578223/logo-2582747_1280_ntasjf.png"  alt="logo CSS3"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920219/sass-logo-7702_1_p96p0u.png"  alt="logo SCSS"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707918661/b4de205cb6d4e7cad43c2971f780cfd9_b8tawb.png" alt="logo JavaScript"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920398/png-transparent-ruby-on-rails-computer-programming-programming-language-ruby-angle-rectangle-logo-thumbnail_hkul5v.png" alt="logo Ruby"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578333/62c48bbdd884e8c372162223_gbjgpr.png" alt="logo Rails"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920051/clipart1799200_cdmdkr.png" alt="logo GitHub"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920397/vs_code_gdjf8o.png" alt="logo VS Code"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707919898/git.png" alt="logo Git"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920384/png-clipart-heroku-software-deployment-software-development-postgresql-amazon-web-services-cloud-computing-purple-angle-thumbnail_yc5f6y.png" alt="logo Heroku"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920399/bootstrap_slnmq9.png" alt="logo Bootstrap"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578258/logo-2582748_640_g1aizd.png"  alt="logo HTML5"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578223/logo-2582747_1280_ntasjf.png"  alt="logo CSS3"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920219/sass-logo-7702_1_p96p0u.png"  alt="logo SCSS"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707918661/b4de205cb6d4e7cad43c2971f780cfd9_b8tawb.png" alt="logo JavaScript"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920398/png-transparent-ruby-on-rails-computer-programming-programming-language-ruby-angle-rectangle-logo-thumbnail_hkul5v.png" alt="logo Ruby"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578333/62c48bbdd884e8c372162223_gbjgpr.png" alt="logo Rails"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920051/clipart1799200_cdmdkr.png" alt="logo GitHub"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920397/vs_code_gdjf8o.png" alt="logo VS Code"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707919898/git.png" alt="logo Git"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920384/png-clipart-heroku-software-deployment-software-development-postgresql-amazon-web-services-cloud-computing-purple-angle-thumbnail_yc5f6y.png" alt="logo Heroku"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920399/bootstrap_slnmq9.png" alt="logo Bootstrap"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578258/logo-2582748_640_g1aizd.png"  alt="logo HTML5"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578223/logo-2582747_1280_ntasjf.png"  alt="logo CSS3"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920219/sass-logo-7702_1_p96p0u.png"  alt="logo SCSS"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707918661/b4de205cb6d4e7cad43c2971f780cfd9_b8tawb.png" alt="logo JavaScript"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920398/png-transparent-ruby-on-rails-computer-programming-programming-language-ruby-angle-rectangle-logo-thumbnail_hkul5v.png" alt="logo Ruby"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578333/62c48bbdd884e8c372162223_gbjgpr.png" alt="logo Rails"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920051/clipart1799200_cdmdkr.png" alt="logo GitHub"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920397/vs_code_gdjf8o.png" alt="logo VS Code"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707919898/git.png" alt="logo Git"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920384/png-clipart-heroku-software-deployment-software-development-postgresql-amazon-web-services-cloud-computing-purple-angle-thumbnail_yc5f6y.png" alt="logo Heroku"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920399/bootstrap_slnmq9.png" alt="logo Bootstrap"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578258/logo-2582748_640_g1aizd.png"  alt="logo HTML5"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578223/logo-2582747_1280_ntasjf.png"  alt="logo CSS3"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920219/sass-logo-7702_1_p96p0u.png"  alt="logo SCSS"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707918661/b4de205cb6d4e7cad43c2971f780cfd9_b8tawb.png" alt="logo JavaScript"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920398/png-transparent-ruby-on-rails-computer-programming-programming-language-ruby-angle-rectangle-logo-thumbnail_hkul5v.png" alt="logo Ruby"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578333/62c48bbdd884e8c372162223_gbjgpr.png" alt="logo Rails"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920051/clipart1799200_cdmdkr.png" alt="logo GitHub"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920397/vs_code_gdjf8o.png" alt="logo VS Code"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707919898/git.png" alt="logo Git"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920384/png-clipart-heroku-software-deployment-software-development-postgresql-amazon-web-services-cloud-computing-purple-angle-thumbnail_yc5f6y.png" alt="logo Heroku"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707920399/bootstrap_slnmq9.png" alt="logo Bootstrap"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578258/logo-2582748_640_g1aizd.png"  alt="logo HTML5"/>
        <img class="slide" src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707578223/logo-2582747_1280_ntasjf.png"  alt="logo CSS3"/>
      </div>
    </div>
  </section>
<!-- fin section - Mes langages / outils -->

<!-- section - Qui suis-je? -->
      <section id="WhoAmI">
        <div class="section1">
          <!--img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1707148379/IMG_3449_copie_e4fvov_c_crop_ar_1_1_t0ljfq.jpg" class="avatar" -->

          <div class="text"><%= t('who_am_i_html') %><%= t('who_am_i_text_html') %>
          </div>
        </div>
      </section>
<!-- fin section - Qui suis-je? -->

<!-- section - Mes réalisations -->
      <section id="IknowThings">
        <div class="text">
        <h1><%= t('what_i_ve_done_html') %></h1>
        <div class="section1">
          <figure class="card card--1" style="--image-src: url(https://res.cloudinary.com/ddt8brfwz/image/upload/v1707589879/Capture-d_E2_80_99e_CC_81cran-2019-11-12-a_CC_80-22.25.30_o1rvaw.png)">
            <figcaption>
              <span class="info">
                <h3>Le Secret Square</h3>
                <span><%= t('ss_text_html') %></span>
              </span>
            </figcaption>
          </figure>

          <figure class="card card--1" style="--image-src: url('https://res.cloudinary.com/ddt8brfwz/image/upload/v1707590240/Capture_d_e%CC%81cran_2024-02-10_a%CC%80_19.37.05_chkk15.png')">
            <figcaption>
              <span class="info">
                <h3><%= t('bh') %></h3>
                <span><%= t('bh_text_html') %></span>
              </span>
            </figcaption>
          </figure>

          <figure class="card card--1" style="--image-src: url('https://res.cloudinary.com/ddt8brfwz/image/upload/v1707589182/fadasocialagency_1404989989_58_uciqbb.jpg')">
            <figcaption>
              <span class="info">
                <h3>FaDa Social Agency</h3>
                <span><%= t('fada_text_html') %></span>
              </span>
            </figcaption>
          </figure>

          <figure class="card card--1" style="--image-src: url('https://res.cloudinary.com/ddt8brfwz/image/upload/v1707590038/logo-web_sbdbm0.jpg')">
            <figcaption>
              <span class="info">
                <h3>La voie d'Eugénie</h3>
                <span><%= t('eugenie_text_html') %></span>
              </span>
            </figcaption>
          </figure>

          <figure class="card card--1" style="--image-src: url('https://res.cloudinary.com/ddt8brfwz/image/upload/v1707591132/Capture_d_e%CC%81cran_2024-02-10_a%CC%80_19.51.07_y7ghs4.png')">
            <figcaption>
              <span class="info">
                <h3>AirBnBrain</h3>
                <span><%= t('airbnbrain_text_html') %></span>
              </span>
              <span class="links">
                <a href="https://github.com/LeslieRds/AirbnBrain" target="_blank"><i class="fab fa-github"></i></a>
              </span>
            </figcaption>
          </figure>

          <figure class="card card--1" style="--image-src: url('https://res.cloudinary.com/ddt8brfwz/image/upload/v1707591133/Capture_d_e%CC%81cran_2024-02-10_a%CC%80_19.51.48_m4kd9m.png')">
            <figcaption>
              <span class="info">
                <h3>Save My Wallet</h3>
                <span><%= t('smw_text_html') %></span>
              </span>
              <span class="links">
                <a href="https://github.com/LeslieRds/save_my_wallet" target="_blank"><i class="fab fa-github"></i></a>
              </span>
            </figcaption>
          </figure>

          <figure class="card card--1" style="--image-src: url('https://res.cloudinary.com/ddt8brfwz/image/upload/v1707591132/Capture_d_e%CC%81cran_2024-02-10_a%CC%80_19.50.40_zgdpr2.png')">
            <figcaption>
              <span class="info">
                <h3>The Fashionist</h3>
                <span><%= t('fashionist_text_html') %></span>
              </span>
              <span class="links">
                <a href="https://github.com/LeslieRds/fashionist-certification" target="_blank"><i class="fab fa-github"></i></a>
              </span>
            </figcaption>
          </figure>

          <figure class="card card--1" style="--image-src: url('https://res.cloudinary.com/ddt8brfwz/image/upload/v1707591371/miles-burke-idhx-MOCDSk-unsplash_vcswt4.jpg')">
            <figcaption>
              <span class="info">
                <h3><%= t('invitation_html') %></h3>
                <span><%= t('invitation_text_html') %></span>
              </span>
            </figcaption>
          </figure>
        </div>
        </div>
        </section>
<!-- fin section - Mes réalisations -->
<!-- contact -->
  <section id="Contact">
    <div class="section1 text">
        <div class="flex items-center min-h-screen">
            <div class="container mx-auto">
              <div class="max-w-xl mx-auto my-10  p-5">
              <div class="text-center">
                <h1 class="my-3 ">
                  <%= t('contact') %>!
                </h1>
                <p class="text-gray-400 dark:text-gray-400"><%= t('contact_text') %></p>
              </div>

              <div class="m-7">
                <form action="https://api.web3forms.com/submit" method="POST" id="form">
                  <input type="hidden" name="access_key" value="ebdfb9c8-dc64-473a-b90c-76c33b531009" />
                  <input type="hidden" name="subject" value="New Submission from Web3Forms" />
                  <input type="checkbox" name="botcheck" id="" style="display: none;" />
                <div class="inputs">
                  <div class="flex mb-6 space-x-4">
                    <div class="w-full md:w-1/2">
                      <label for="fname" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"><%= t('contact_firstname') %></label>
                      <input type="text" name="name" id="first_name" placeholder="Prince" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    </div>
                    <div class="w-full md:w-1/2">
                      <label for="lname" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"><%= t('contact_lastname') %></label>
                      <input type="text" name="last_name" id="lname" placeholder="Charmant" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    </div>
                  </div>
                </div>
                <div class="inputs">
                  <div class="flex mb-6 space-x-4">
                    <div class="w-full md:w-1/2">
                      <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Email </label>
                      <input type="email" name="email" id="email" placeholder="prince.charmant@feerie.com" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    </div>

                    <div class="w-full md:w-1/2">
                      <label for="phone" class="block text-sm mb-2 text-gray-600 dark:text-gray-400"><%= t('contact_number') %></label>
                      <input type="text" name="phone" id="phone" placeholder="0123456789" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    </div>
                  </div>
                </div>
                <div class="inputs">
                  <div class="mb-6">
                    <label for="message" class="block mb-2 text-sm text-gray-600 dark:text-gray-400"><%= t('contact_message') %></label>

                    <textarea rows="5" name="message" id="message" placeholder="Présentez moi votre projet." class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" required></textarea>
                  </div>
                </div>
                  <div class="mb-6">
                    <button type="submit" class="w-full px-3 py-4 text-white"><%= t('contact_send') %></button>
                  </div>
                  <p class="text-base text-center text-gray-400" id="result"></p>
                </form>
              </div>
            </div>
            </div>
          </div>
      </div>
    </section>
<!-- fin contact -->
    <!-- fin zone scrollspy -->
    </div>
  </div>
</main>
<!-- fin Main -->
