  <%= simple_form_for contact || Contact.new do |f| %>
    <div class="section1">
      <div class="block">
      <%= f.label :Prénom %><br>
      <%= f.text_field :surname, required: true, class: "field contact-form-text-area", placeholder: "James" %><br>

      <%= f.label :Nom %><br>
      <%= f.text_field :name, required: true, class: "field contact-form-text-area", placeholder: 'Bond' %><br>

      <%= f.label :Entreprise %><br>
      <%= f.text_field :name, class: "field contact-form-text-area", placeholder: 'MI6' %><br>
      </div>
      <div class="block">
      <%= f.label :téléphone %><br>
      <%= f.text_field :number, required: true, class: "field contact-form-text-area", placeholder: '0123456789'%><br>

      <%= f.label :email %><br>
      <%= f.text_field :email, required: true, class: "field contact-form-text-area", placeholder: 'james@bond.com'%><br>
      </div>
      <div class="block">
      <%= f.label :message %><br>
      <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "field contact-form-text-area",
            placeholder: "Ecrivez ici votre projet"%><br>
      </div>
      <div class= "d-none">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
      </div>

      <%= f.submit 'Envoyé!', class: 'btn bsb-btn-2xl btn-light rounded mb-0 text-nowrap' %>
    </div>
  <% end %>
