<p>Bonjour,</p>

<p>Vous avez reçu un nouveau message de contact :</p>


<p>Prrnom : <%= @contact.surname %></p>
<p>Nom : <%= @contact.name %></p>
<p>Entreprise : <%= @contact.company %></p>
<p>Tel : <%= @contact.number %></p>
<p>Email : <%= @contact.email %></p>
<p>Message : <%= @contact.message %></p>
