<!DOCTYPE html>
<html>
  <!-- head et metas -->
  <head>
    <title>My Ikigaï : studio web en Tarentaise </title>
    <meta charset="UTF-8">
    <meta name="description" content="My Ikigaï est un studio de développement web, situé à Bourg-Saint-Maurice en Tarentaise en Savoie en France. Il est spécialisé dans le développement fullstack d'applications mobile et de sites web. Une démarche mobile First et orienté utilisateur. Nous proposons des packs pour les créateurs d'entreprise.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="<%= asset_path 'logo.png' %>" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Bubbler+One&family=Italiana&family=Poiret+One&family=Poppins&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>

  <!-- Navbar + Header -->
    <div class="container">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg fixed-top bg-light">
        <div class="container-fluid">

          <!-- logo -->
          <a class="navbar-brand" href="#">
            <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1706098486/logo_noir_sur_transparent_guxb9u.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top"></a>
          <!-- logo -->

          <!-- bouton et menu responsive -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="nav nav-pills navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#scrollspyHeading1">Qui suis-je?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2">My Iki-quoi?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading3">Mes services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading4">Mes réalisations</a>
              </li>
            </ul>
          <!-- bouton et menu responsive -->

          <!-- call to action -->
          <a href="#!" class="btn bsb-btn-2xl btn-outline-secondary rounded mb-0 text-nowrap">Contact</a>
          <!-- call to action -->
          </div>
        </div>
      </nav>
      <!-- Navbar -->

      <!-- Header -->
      <header class="banner">
        <div class="container">
          <h1>My Ikigaï</h1>
          <p>Le studio web créatif et perché</p>
        </div>
        <%= render "shared/flashes" %>
      </header>
      <!-- Header -->
    </div>
    <!-- Navbar + Header -->

    <!-- Main -->
    <main role="main">
      <div class="main-container">
        <div data-bs-spy="scroll" data-bs-target="#navbarId" data-bs-offset="0"  class="scrollspy bg-light p-3 rounded-2" tabindex="0">
          <!-- section 1 - Qui suis-je? -->
          <div class="container1">
            <h1 id="scrollspyHeading1">Qui suis-je?</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae maximus mauris, vitae pulvinar tortor. Aenean blandit elit nunc, quis aliquam libero sagittis at. Donec dictum porttitor sapien, eget semper ex euismod at. Donec ac felis et dui eleifend efficitur sed ac ligula. In sagittis posuere tincidunt. Curabitur purus nisl, posuere eu sapien non, vestibulum auctor quam. Vivamus id velit arcu. In hac habitasse platea dictumst. Nulla ut auctor lectus. Aenean id congue nulla. Donec eget ligula convallis, sodales nibh laoreet, dictum metus. Aliquam vitae scelerisque eros, sed suscipit erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam tincidunt, mauris non fermentum mollis, augue nisl dictum sem, eu tempus metus diam vitae elit. Duis a volutpat nunc, at auctor lorem. Ut eu ultricies nunc, nec aliquam enim. In ac viverra felis. Aenean feugiat, ante nec pretium rutrum, nunc enim molestie felis, non egestas augue neque in diam. Donec ac erat ac nunc commodo aliquet. Mauris tincidunt mi arcu, ac consequat lacus commodo in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam turpis velit, iaculis sodales nunc nec, eleifend egestas augue. Suspendisse et mollis ligula. Donec sed tempus leo, a maximus eros. Cras quam turpis, accumsan non tempus eget, pretium quis neque. Maecenas et pretium eros. Quisque nec lacinia justo, nec malesuada sapien. Aenean felis velit, finibus eget enim a, vestibulum porttitor sem. Ut bibendum orci metus, sit amet gravida sem pulvinar at. Duis feugiat magna elit, vulputate vestibulum lacus placerat eget. Integer ac ultricies arcu, quis condimentum tellus. Quisque egestas, tortor iaculis sollicitudin bibendum, est metus facilisis nibh, id malesuada felis augue sit amet erat. Donec rutrum purus sit amet orci lobortis mollis. Nunc id sem sed elit semper vehicula. Sed tellus nulla, volutpat nec tristique vel, fermentum in eros. Nulla eget ullamcorper tortor, eu feugiat arcu. Maecenas accumsan elit elit, sit amet molestie augue feugiat ut. Maecenas mi ipsum, commodo in dolor eu, fermentum tempor urna. Morbi sagittis leo vitae consequat tincidunt. Phasellus dictum turpis ultricies, rhoncus ex ultricies, tincidunt mi. Aenean blandit nisi lorem. Donec hendrerit malesuada est, venenatis sodales justo posuere quis. Suspendisse consectetur libero laoreet lectus lacinia, ut commodo velit tempor. Sed aliquet, quam eget congue sollicitudin, odio mauris pellentesque orci, ut aliquam leo est in augue. Aenean laoreet, quam quis imperdiet pharetra, odio lorem maximus justo, id condimentum leo turpis id sapien. Donec et pulvinar augue. Integer pretium placerat aliquet. Nunc in urna libero. Donec et suscipit purus. Phasellus consequat ex sit amet metus eleifend vehicula. Maecenas a ornare eros. Vivamus enim libero, semper eget tristique a, maximus in tellus. Nulla ut erat nec justo vehicula laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc at scelerisque nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce sagittis orci tempus lectus pellentesque, vel varius lacus ultrices. Nam a ligula ultrices, tincidunt elit non, ullamcorper nisi.</p>
            <!-- call to action -->
            <a href="#!" type="button" class="btn btn-light rounded mb-0 ">Contact</a>
            <!-- call to action -->
          </div>
          <!-- fin section 1 - Qui suis-je? -->

          <!-- section 2 - My Iki-quoi? -->
          <div class="container2">
            <h1 id="scrollspyHeading2">My Iki-quoi?</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae maximus mauris, vitae pulvinar tortor. Aenean blandit elit nunc, quis aliquam libero sagittis at. Donec dictum porttitor sapien, eget semper ex euismod at. Donec ac felis et dui eleifend efficitur sed ac ligula. In sagittis posuere tincidunt. Curabitur purus nisl, posuere eu sapien non, vestibulum auctor quam. Vivamus id velit arcu. In hac habitasse platea dictumst. Nulla ut auctor lectus. Aenean id congue nulla. Donec eget ligula convallis, sodales nibh laoreet, dictum metus. Aliquam vitae scelerisque eros, sed suscipit erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam tincidunt, mauris non fermentum mollis, augue nisl dictum sem, eu tempus metus diam vitae elit. Duis a volutpat nunc, at auctor lorem. Ut eu ultricies nunc, nec aliquam enim. In ac viverra felis. Aenean feugiat, ante nec pretium rutrum, nunc enim molestie felis, non egestas augue neque in diam. Donec ac erat ac nunc commodo aliquet. Mauris tincidunt mi arcu, ac consequat lacus commodo in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam turpis velit, iaculis sodales nunc nec, eleifend egestas augue. Suspendisse et mollis ligula. Donec sed tempus leo, a maximus eros. Cras quam turpis, accumsan non tempus eget, pretium quis neque. Maecenas et pretium eros. Quisque nec lacinia justo, nec malesuada sapien. Aenean felis velit, finibus eget enim a, vestibulum porttitor sem. Ut bibendum orci metus, sit amet gravida sem pulvinar at. Duis feugiat magna elit, vulputate vestibulum lacus placerat eget. Integer ac ultricies arcu, quis condimentum tellus. Quisque egestas, tortor iaculis sollicitudin bibendum, est metus facilisis nibh, id malesuada felis augue sit amet erat. Donec rutrum purus sit amet orci lobortis mollis. Nunc id sem sed elit semper vehicula. Sed tellus nulla, volutpat nec tristique vel, fermentum in eros. Nulla eget ullamcorper tortor, eu feugiat arcu. Maecenas accumsan elit elit, sit amet molestie augue feugiat ut. Maecenas mi ipsum, commodo in dolor eu, fermentum tempor urna. Morbi sagittis leo vitae consequat tincidunt. Phasellus dictum turpis ultricies, rhoncus ex ultricies, tincidunt mi. Aenean blandit nisi lorem. Donec hendrerit malesuada est, venenatis sodales justo posuere quis. Suspendisse consectetur libero laoreet lectus lacinia, ut commodo velit tempor. Sed aliquet, quam eget congue sollicitudin, odio mauris pellentesque orci, ut aliquam leo est in augue. Aenean laoreet, quam quis imperdiet pharetra, odio lorem maximus justo, id condimentum leo turpis id sapien. Donec et pulvinar augue. Integer pretium placerat aliquet. Nunc in urna libero. Donec et suscipit purus. Phasellus consequat ex sit amet metus eleifend vehicula. Maecenas a ornare eros. Vivamus enim libero, semper eget tristique a, maximus in tellus. Nulla ut erat nec justo vehicula laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc at scelerisque nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce sagittis orci tempus lectus pellentesque, vel varius lacus ultrices. Nam a ligula ultrices, tincidunt elit non, ullamcorper nisi.</p>
            <!-- call to action -->
            <a href="#!" class="btn bsb-btn-2xl btn-light rounded mb-0 text-nowrap">Contact</a>
            <!-- call to action -->

          </div>
          <!-- section 2 - My Iki-quoi? -->

          <!-- section 3 - Mes services -->
          <div class="container3">
            <h1 id="scrollspyHeading3">Mes services</h1>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1706872445/clement-helardot-95YRwf6CNw8-unsplash_xuhxfy.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1706872445/kevin-bhagat-zNRITe8NPqY-unsplash_gnyicl.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="https://res.cloudinary.com/ddt8brfwz/image/upload/v1706872445/ilya-pavlov-OqtafYT5kTw-unsplash_yx1zqf.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- call to action -->
            <a href="#!" class="btn bsb-btn-2xl btn-light rounded mb-0 text-nowrap">Contact</a>
            <!-- call to action -->

          </div>
          <!-- section 3 - Mes services -->

          <!-- section 4 - Mes réalisations -->
          <div class="container4">
          <h1 id="scrollspyHeading4">Mes réalisations</h1>
            <!-- call to action -->
            <a href="#!" class="btn bsb-btn-2xl btn-light rounded mb-0 text-nowrap">Contact</a>
            <!-- call to action -->

          </div>
          <!-- section 4 - Mes réalisations -->
        </div>
      </div>
    </main>
    <!-- Main -->

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Suivez-nous sur les réseaux sociaux :</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fa-brands fa-facebook" style="color: #9e81a7;"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa-brands fa-square-instagram" style="color: #9e81a7;"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa-brands fa-linkedin" style="color: #9e81a7;"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa-brands fa-square-github" style="color: #9e81a7;"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>My Ikigaï Web Studio
              </h6>
              <p>
                J'ai à coeur que chaque entreprise ait le site qui lui ressemble.
                dolor sit amet, consectetur adipisicing elit.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Products
              </h6>
              <p>
                <a href="#scrollspyHeading1" class="nav-link">Qui suis-je?</a>
              </p>
              <p>
                <a href="#scrollspyHeading2" class="nav-link">My Iki-quoi?</a>
              </p>
              <p>
                <a href="#scrollspyHeading3" class="nav-link">Mes services</a>
              </p>
              <p>
                <a href="#scrollspyHeading4" class="nav-link">Mes réalisations</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Liens légaux
              </h6>
              <p>
                <a href="#!" class="text-reset">Mentions légales</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Conditions générales de service</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Confidentialité</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Cookies</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3"></i> Tarentaise, Savoie, France</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                hello@myikigai.fr
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-reset fw-bold">Made with <i class="fa-solid fa-heart fa-beat" style="color: #9e81a7;"></i> by My Ikigaï Web Studio</a>
      </div>
      <!-- Copyright -->
    </footer>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
